/* Home.css */

*{
    margin: 0%;
    padding: 0%;
}

.top{
    display: flex;
    justify-content: space-around;
    position: sticky;
    padding-top: 2vh;
    /* background-color: #010d2c; */
    color: white;
    /* background-image: url("src/assets/bg1.png"); */
    /* background-image: url('src/assets/blue4.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.right {
    display: flex;
    flex-direction: row;
    color: white;
    margin: 0%;

}

.left{
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    padding: 2px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.homelogo{
    background-image: url('src/assets/homelogo.png');
    background-size:contain;
    background-repeat: no-repeat;
    width: 7vw;
    height: 7vh;
    
}

.sec1{
    background-image: url('src/assets/blue1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vh;
    width: 30vw;
    
}
.secTop{
    background-image: url("src/assests/bg3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.second1{
    background-image: url('src/assets/blue4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.second{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding-top: 2vh;
    font-weight: 500;
    
    /* background-color: #08122e; */
    /* background-color: #010d2c;  */
    
}
.card1{
    margin: 10vh;
    width: 80vw;
    height: 80vh;
    background-color: #0f0fc580;
    border-radius: 30px;
    /* opacity: 0.5; */
    /* box-shadow: 15px 15px 15px white; */
    box-shadow: 5px 5px 700px 35px white;
    /* opacity: ; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.card1:hover{
    width: 80.1vw;
    height: 81.1vh;
    transition: 0.6s ease;
}
.card2{
    width: 75vw;
    height: 70vh;
    background-color: #08122e;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2vw;
    opacity: 0.99;
}
.card21{
    margin: 12px;
    background-image: url("src/assets/dashboard_pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-color: white;
    border-width: 0.1vw;
    border-radius: 30px;
    width: 90vw;

}
.card22{
    
    background-image: url("src/assets/dashboard_mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-color: white;
    border-width: 0.1vw;
    border-radius: 30px;
    height: 60vh;
    width: 30vw;
}
.home-container {
    border-radius: 30px;
    margin: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vw;
    text-align: center;
    height: 30vw;
    background-color: #05055880;
    /* opacity: 0.7; */
    background-image: url('src/assets/bg3.png');
    /* background-image: url("src/assets/bg1.png"); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0.4px 0.4px 20px 5px white;

    color: white;
}
.canbody{
    display: flex;
    flex-direction: row;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.containeright{
    border-color: black;
    background-image: url('src/assets/image1.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
    
    height: 30vh;
    width: 45vw;
    text-overflow: ellipsis;
    font-size: larger;


}
.head{
    background-image: url("src/assets/bg2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image1{
    height: 20px;
}
.containerleft{
    margin-top: 80px;
    font-size: 20px;
}
.home-title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.home-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.home-buttons {
    display: flex;
    gap: 15px;
    
}

.home-button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color:#0000FF80;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 9px;
}

.home-button:hover {
    background-color:#11255b;
}
.joinbtn {
    margin-top: 60vh;

    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #f6fafb;
    background-color:#08122e;
    border-color: #36c6f6;
    border-width:medium;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10vh;
    background-image: url('src/assets/—Pngtree—technology circuit line horizontal drawing_8803469.png');
    background-size: contain;
}

.joinbtn:hover {
    background-color:#11255b;
}



main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:  #010d2c;
    color: white;
    background-image: url("src/assets/bg2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.third{
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-top: 30px;
    font-weight: 500;
    margin: 10px;
    margin-top: 90px;
}
.body3{
    display: flex;
    flex-direction: row;    
    border-radius: 30px;
    padding-top: 10vh;
}
.left3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    margin: 10px;
    width: 30vw;
    height: 50vh;
    font-size: large;

}
.im1{
    background-image: url('src/assets/home_1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.im2{
    background-image: url('src/assets/iot2.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.im3{
    background-image: url('src/assets/voice-control.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.im4{
    background-image: url('src/assets/fan.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.im5{
    background-image: url('src/assets/bulb2.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.im6{
    background-image: url('src/assets/ac.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.right3{
    align-items: center;
    justify-content: center;
    margin-left: 3vw;
    font-size: 1.5rem;
    width: 60vw;
    
}

.thirdbtn{
    padding: 15px 40px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color:hsl(193, 72%, 67%);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2vw;
    background-image: url('src/assets/—Pngtree—technology circuit line horizontal drawing_8803469.png');
 
    background-size: contain;
    color: #f6fafb;
    background-color:#08122e;
    border-color: #36c6f6;
    border-width:medium;

}
.H1{
    font-size: larger;
}
.H2{
    font-size: 40px;
    margin-top: 30px;
    transition: 1.5s;
}
.fourth{
    background-color: #05054680;
    box-shadow: 0.4px 0.4px 20px 5px white;
    opacity: 0.9;
    margin: 2vh;
    border-radius: 30px;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.body4{
    display: flex;
    flex-direction: row;
}
.right4{
    background-color: #d15050;
    height: 40vh;
    margin: 40px;
}
.pop{
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 60px;
    right: 60px;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    background-color:#51ade6
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;
    justify-content: space-between;
}
.item1{
    background-color: #69c5fe;
    /* box-shadow: 0.4px 0.4px 20px 5px white; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 25vw;
    border-radius: 30px;
    transition: o.3s;
    
}
.item:hover{
    width: 25.1vw;
    transition: 0.4s;

}
.item2{
    background-color: #03038380;
    box-shadow: 0.4px 0.4px 20px 5px white;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 25vw;
    border-radius: 30px;
}
.item3{
    background-color: #5daada;
    /* box-shadow: 0.4px 0.4px 20px 5px white; */

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 25vw;
    border-radius: 30px;
    
}

.btn1{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color:#0c1d4b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    
}
.btn2{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color:#f0ecee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    margin-bottom: 30px;

}
.top4{
    font-size: 50px;
    margin-bottom: 30px;
}
.itemhead{
    font-size: 30px;
    font-weight: 500;
    margin: 20px;
}
.img1{
    background-image: url('src/assets/applinaces_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 300px;
}
.item:hover{
    transform: scale(4px);
}
.itembody{
    margin: 40px;
    font-weight: 700;
    position: relative;
}
.img2{
    background-image: url('src/assets/track.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 300px;
}
.img3{
    background-image: url('src/assets/temp.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 290px;
    width: 300px;
}
.bottom{
    margin-top: 20vh;
    background-color:#08122e;
    color:#36c6f6;
}
.bottom ul li{
    border-color:#36c6f6;
    border-width: thin;
    padding: 1vw;
}
@media (min-width: 780px)and (max-width:1140px){
    .top{
        justify-content: space-around;
        /* flex-direction: column; */
        align-items: center;

    }
    .homelogo{
        display: none;
    }
    .g160{
        /* font-size: large; */
        margin-left: 2vw;
    }
    .left{
        justify-content: space-around;
    }
    /* .right{

    } */
    .sec1{
        width: 15vw;
        height: 10vh;
    }
    .home-button{
        padding: 1.5vw;
        font-size: large;
    }
    .H1{
        font-size: 2rem;
    }
    .H2{
        font-size: 1.2rem;
    }
    .joinbtn{
        padding: 1vh 2vw;
        font-size: medium;
    }
    .second{
        margin-top:0%;
    }
    .home-container{
        position: relative;
        padding: 2vw;
        margin: 5vw;
    }
    
    .home-title{
        font-size: 2rem;
        position: static;
    }
    .containerleft{
        padding: 1vw;
        justify-content: center;
        align-items: center;
        margin-top:0%;
        font-size: medium;
        padding-top: 0%;
    }
    .containeright{
        width: 70vw;
        height: auto;
    }
    .head3{
        font-size:2rem;
        font-weight: bold;
    }
    .right3{
        font-size: medium;
    }
    .left3{
        margin-top: 15vh;
    }
    .thirdbtn{
        padding: 10px 20px;
        margin-top: 15vh;
    }
    .grid{
        grid-template-columns: 1fr;

    }
    .item1{
        width: 50vw;
    }
    .item2{
        width: 50vw;
    }
    .item3{
        width: 50vw;
    }
    /* .img1{
        width: 20vw;
        height: 50vh;
        background-size: contain;
    } */

}
@media (min-width: 320px) and (max-width: 780px){
    .top{
        display: flex;
    }
    .homelogo{
        display: none;
    }
    .H1{
        font-size: large;
    }
    .H2{
        font-size: medium;
    }
    .joinbtn{
        font-size: medium;
    }
    .home-title{
        font-size: 0.1rem;
    }
    /* .containeright{

    } */
    .containerleft{
        font-size: 0.5rem;
    }
}