
/* General Container */
.search-container {
    font-weight: bold;
    opacity: 0.9;
    padding: 1rem;
    padding-left: 40px;
    margin-top: 1rem;
    margin-bottom: -0.25rem;
    margin-top: 0.5rem;
    margin-bottom: -1rem;
    text-align: center;
    color: #87ceeb;

}

/* Form Styling */
.search-form {
   
    min-width: 320px;
    margin-left: 0.05rem;
    margin-right: 1.25rem;
    margin-top: 0.75rem;
    margin-bottom: 80px;
    max-width: 500px;
    padding-left: 50px;
    height: 0px;
    background: transparent;


}

.relative-container {
    position: relative;
}

/* Icon Styling */
.icon-container {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    pointer-events: none;
}

.icon {
    width: 20px;
    height: 20px;
    color: #888888;
}

/* Input Styling */
.search-input {
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    font-size: 1rem;
    color: #1f2937;
    border: 1px solid #d1d5db;
    border-radius: 9999px;
    background-color: #f9fafb;
    outline: none;
}

.search-input:focus {
    border-color: #3b82f6;
    outline: none;
}

/* Button Styling */
.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 54px;
    height: 49px;
    right: 0rem;
    bottom: 0px;
    background-color: #2563eb;
    color: white;
    font-weight: 500;
    border-radius: 50%;
   
    font-size: 0.875rem;
    cursor: pointer;
    border: none;
}

.search-button:hover {
    background-color: #1e40af;
}

.search-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #bfdbfe;
}

/* Suggestions List */
.suggestions-list {
    position: absolute;
    min-width: 320px;
    max-height: 320px;
    overflow-y: auto;
    background-color: #f1f5f9;
    border-radius: 0.375rem;
    border: 1px solid #1f2937;
    margin-top: 0.75rem;
}

.suggestion-item {
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.suggestion-item:hover {
    background-color: #e2e8f0;
}

/* Not Found Message */
.not-found-message {
    margin-top: 1rem;
    color: #1f2937;
    font-weight: bold;
}

/* Horizontal Rule */
.divider {
    margin-top: 2.5rem;
    background-color: #ffffff;
    opacity: 0.2;
}
