.container {
  overflow: hidden;
  z-index: 10;
  position: relative;
  height: 150px;
  width: 300px;
background: linear-gradient(to right, rgb(154 194 255), #0047ffc9);
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* BACKGROUND */
.Circle1 {
  z-index: 100;
  position: absolute;
  height: 80px;
  width: 80px;
  right: -20px;
  top: -30px;
  border-radius: 50%;
  background-color: #5c8aff; /* Light blue */
  animation: enlarge;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.dark .Circle1{
  opacity: 45%;
} 

.Circle2 {
  z-index: 80;
  position: absolute;
  height: 150px;
  width: 150px;
  right: -50px;
  top: -70px;
  border-radius: 50%;
  background-color: #6892fb; /* Medium blue */
  animation: enlarge;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
.dark .Circle2{
  opacity: 35%;
} 

.Circle3 {
  z-index: 50;
  position: absolute;
  height: 200px;
  width: 200px;
  right: -50px;
  top: -100px;
  border-radius: 50%;
  background-color: #779cf9; /* Dark blue */
  animation: enlarge;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.dark .Circle3{
  opacity: 25%;
} 

/* CONTENT */
.sun {
  z-index: 1000;
  font-size: 15px !important;
  color: white;
}

.Condition {
  z-index: 1000;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 20px;
  left: 20px;
  top: 10px;
  color: white;
}

.Temp {
  z-index: 1000;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 400;
  left: 20px;
  bottom: 5px;
  color: white;
}

#F {
  z-index: 1000;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: white;
}

.Time {
  z-index: 1000;
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 200;
  right: 20px;
  top: 10px;
  color: white;
}

.locationIcon {
  z-index: 1000;
  font-size: 10px !important;
  color: white;
}

.Location {
  z-index: 1000;
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 200;
  right: 20px;
  bottom: 15px;
  color: white;
}

@keyframes enlarge {
  50% {
    transform: scale(1.2);
  }
}
.dark .darktemp{
  background: rgba(255, 255, 255, 0.1); /* Transparent white */
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: #fff; /* Adjust text color for contrast */
}
