.side-nav{
 height: 100%;
 width:60px;
 top: 0;
 left: 0;
 position: fixed;  
 padding: 30px 15px;
 box-shadow: rgba(0, 0, 0, 0.15) 3.55px 1.95px 5.9px;
 background-color: #785bf8;
 border-top-right-radius: 35px;
 z-index: 10;
 transition: width 0.7s;
}
.side-nav img{
    width: 35px;
    fill: azure;
    margin-right: 17px;
    margin-left: 30px;
}
.logo img {
    width: 35px;
    fill: azure;
    margin-right: 17px;
    margin-left: 1px;
    transition: all 1s;
}

.user{
    display: flex;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    color: aliceblue;
}
.user h1{
    display: none;
    opacity: 100;

}

.list{
    cursor: pointer;
    padding-top: 50px;
    position: relative;
    left: -20px;
}
.list li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding-right: 25px;
    color: aliceblue;
    height: 55px;
    margin-top: 5px;
    transition:0.32;
}
.list li h2{
display: none;
}
.list li:hover{
    background-color: indigo;
    border-radius: 5px;

}

.list li i{
    
    width: 25px;
    margin-right: 30px;
    
    
     
}
.log{
    position: absolute;
    bottom: 45px;
   z-index: 10; 
    left: -16px;
    display: flex;
    color: aliceblue;
}
.log h2{
    display: none;
}
.log img{
    width: 25px;

}
/* Example styles in Navbar.css */
.nav-active li{
    background-color: indigo; /* Background color for active state */
     /* Bold text for active link */
     /* Change this to your desired text color for the active state */
    border-radius: 5px; 
}
.side-nav:hover{
    width: 250px;

}
.side-nav:hover .log h2{
display: block;
}
.side-nav:hover .list li h2{
    display: block;

}
.side-nav:hover .user h1{
    display: block;

}
.side-nav:hover .list li{
    width: 200px;
    justify-content: start;
    padding-right: 0;
    overflow: hidden;
    text-wrap: nowrap;
    transition: width 0.6s;
}
.side-nav:hover .list li i{
    margin-right: 45px;
    transition: all 1s;


}
.side-nav:hover .logo img{
    margin-left: 33px;
    transition: all 1s;


}
.side-nav:hover .log {
    left: -5px;
    z-index: auto;
    transition: all 1s;

}
.side-nav:hover .img{
    display: block;
}


